* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
backend/myenv/lib/python3.10/site-packages/paddle/base/libpaddle.so filter=lfs diff=lfs merge=lfs -text
backend/myenv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
backend/sam_vit_b.pth filter=lfs diff=lfs merge=lfs -text
